@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,400&family=Inter&display=swap');

.whole-section{
    background-image: linear-gradient(to left, #09071D 60%, #4D0515);
    color: white;
    padding-top: 90px;
}
.navbar-brand img{
    height: 50px;
}
.nav-item img{
    height: 50px;
    width: 50px;
}
.nav-item img, .hide{
    display: none;
}
.hide p{
    font-size: 25px;
}
.about-text p{
    font-size: 23px;
    word-spacing: 5px;
    line-height: 48px;
    font-family: 'DM Sans', sans-serif;
}
.card{
    box-shadow: rgba(250, 89, 89, 0.24) 0px 3px 8px;
}
.red{
    height: 40px;
    width: 5px;
    background-color: red;
    }
.logo img{
    height: 50px;
    width: 50px;
}
.card p{
    font-family: 'Inter', sans-serif;
}

/* FOOTER */
.icon i{
    font-size: 30px;
    padding: 10px;
}
.black{
    border-top: 2px solid white;
    background-color: black;
    height: 90px;
}
.bg-red{
    background-color: #370618;
    width: 100%;
}
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 80px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        height: 100%;
        background-color: black;
        text-align: center;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
    .navbar li, .nav-img{
        padding-top: 50px;
    }.navbar li a{
        font-size: 26px;
    }
    .nav-item{
        gap: 19px;
        align-items: center;
        justify-content: center;
    }
    .nav-item:hover{
        background-color: #4D0515;
    }
    .nav-item img, .hide{
        display: block;
    }
    .nav-img{
        display: none;
    }
}