@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,400&family=Inter&family=Patrick+Hand&display=swap');
.nav-link{
    font-family: 'Inter', sans-serif;  
    font-size: 20px;

}
.navbar{
    background-color: #09071D;
}

.whole-section{
    background-image: linear-gradient(to left, #09071D 60%, #4D0515);
    color: white;
    padding-top: 170px;
    font-family: 'DM Sans', sans-serif;

}
.nav-item img{
    height: 45px;
    width: 45px;
    
}
.nav-item img, .hidy{
    display: none;
}

.hidy h1{
    padding-top: 30px;
}
.hidy{
    color: white;
}
.navbar-brand img{
    height: 70px;
}
.top .card{
    background-image: linear-gradient(to left, #09071D 60%, #4D0515);
    color: white; 
}
.top .card p, .text p{
    font-size: 24px;
    line-height: 40px;
    word-spacing: 5px;
}

.text p{
    line-height: 65px;
    word-spacing: 7px; 
}
.mag img{
    height: 220px;
    object-fit: cover;

}
.contri .card{
    box-shadow: rgba(250, 89, 89, 0.24) 0px 3px 8px;
}
.bar{
    height: 40px;
    width: 15px;
    background-color: red;
}
.contri p{
    line-height: 45px;
    font-size: 24px;
    font-family:'DM Sans', sans-serif;
}
.red{
    background-color: #360616;  
}
.btn{
    background-color: #360616;
    width: 200px;
    margin-bottom: 70px;
}
.btn a{
    text-decoration: none;
    color: white;
}

/* footer */
.black{
    border-top: 2px solid white;
    background-color: black;
    height: 90px;
}

@media (max-width: 992px) {
    
    .navbar-collapse {
        position: fixed;
        top: 80px;
        left: 0;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        width: 100%;
        height: 100%;
        background: linear-gradient(to left, #09071D 60%, #4D0515);
        /* text-align: center; */
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
    .navbar li, .nav-img{
        padding-top: 20px;
    }.navbar li a{
        font-size: 26px;
    }
    .nav-item{
        gap: 29px;
        align-items: center;
        /* justify-content: center; */
    }
    .nav-item:hover{
        background-color: #4D0515;
    }
    .nav-item img, .hidy, .nav-item small{
        display: block;
    }
    .nav-item img{
        margin-left: 30px;
    }
    .nav-img{
        display: none;
    }
}
@media only screen and (max-width: 500px){
    .mag{
        display: flex;
        flex-direction: column;
    }
    .text{
        padding-top: 40px;
    }
}
@media only screen and (max-width: 300px){
    .navbar li, .nav-img{
        padding-top: 0.2px;
        font-size: 12px;
    }
    a.nav-link.text-light, a.nav-link.active{
        font-size: 18px;
    }
}
